address {
  font-style: normal;
  width: 231px;
}

.address__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-bottom: 9px;
}

.address__list {
  list-style: none;
}

.address__list .link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__list .link:hover,
.address__list .link:focus {
  color: var(--accent-color);
}

.address__link--mail {
  margin-bottom: 8px;
}

.address__block {
  margin-right: 70px;
}