.contact__list {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;

  @media screen and (max-width: 738px){
    display: none;
  }
  @media screen and (min-width: 738px) and (max-width:1199px)
  {
    display: block;
  }
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  display: flex;
  align-items: center;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover{color: var(--accent-color);}
  &:focus{color: var(--accent-color);}

  .contact__list &{
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

.contact__icon--letter {
  fill: currentColor;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

.contact__icon--smartphone {
  fill: currentColor;
  margin-right: 10px;
  align-items: center;
}


