.container {
  // width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  @media screen and (min-width: 480px){
    container {
        width: 480px;
      }
    }
    @media screen and (min-width: 738px){
      container {
        max-width: 738px;
      }
    }
    // @media screen and (main-width: 738px) {
    //   container {
    //     width: 738px;
    //   }
    // }
  }
   

// .flex {
  
//   @media screen and (min-width: 738px){
//     display: flex;
//     align-items: center;

//   }
// }