.mailing__block{
  @media screen and (min-width: 1200px) {
    margin-left: auto;
  }
}

.mailing__form {
  display: block;
  align-items: center;
  justify-content: center;

  gap: 12px;

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;

  }
}

.mailing__text {
  @include fonts (14px, calc(16 / 14), 700, 0.03em);

  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;

  margin-bottom: 20px;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.mailing__group {
  position: relative;
  text-align: center;
}

.mailing__label {
  position: absolute;
  display: flex;

  top: 37%;
  left: 16px;
  transform: translateY(-50%);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: left;

  @include fonts (16px, calc(20 / 16), false, 0.03em);
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width:768px) and (max-width: 1199px) {
    top: 37%;
    left: 160px;
    transform: translateY(-50%);
  }
}

.mailing__inp {
  padding: 0;
  margin-bottom: 20px;
  outline: none;
  padding-left: 15px;

  color: #ffffff;

  width: 450px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 358px;
  }
  

  &:focus, &:not(:placeholder-shown){
    border-color: #ffffff;
  }

  &:focus+.mailing__label,
  &:not(:placeholder-shown)+.mailing__label{
    transform: translateY(-220%) translateX(-16px) scale(0.9);
  }
}

.mailing__btn {
  position: relative;

  padding-right: 68px;
  // @media screen and (min-width: 1200px) {
  //   margin-left: auto;
  // }

  &::after{
    content: "";
      width: 24px;
      height: 24px;
    
      position: absolute;
      top: 50%;
      right: 28px;
      transform: translateY(-50%);
    
      background-image: url(../images/icons/send.svg);
  }
}
