.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #AFB1B8;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus{
    fill: #FFFFFF;
    background-color: var(--accent-color);}
}

.social__list--white {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}

// ====================================

.social__block {
  margin-right: 93px;
}

.social__title--darkbg {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social__link--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, &:focus {background-color: var(--accent-color);}
}

.social__list--dark {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__icon--dark {
  fill: var(--main-background-color);
}