
body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
  background-color: var(--main-background-color)
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  border-bottom: 1px solid #ECECEC;
}